{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheet %}
        {{ parent() }}
{% endblock %}

{% block body %}

<h3>Gebruiker</h3>

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    
    <p>
    <a class="button" href="{{ path('user_edit', { 'id': user.id }) }}" title="Bewerken">
                            <i class="far fa-edit"></i>
                        </a>
    </p>
</div>

{% endblock %}
