{% extends 'layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

<h3>Contact</h3>
<br>


    {{ form_start(form, {
            'attr': {
                'novalidate': 'novalidate',
                'data-abide': 'data-abide'
            }
        }) 
    }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.message) }}



    <div class="grid-x grid-padding-x">
        <div class="cell medium-7"></div>
        <div class="cell medium-2">  
            <button class="button" type="submit">
                <i class="far fa-paper-plane"></i>
            </button>
        </div> 
        <div class="cell medium-3"></div>
    </div>
    
    {{ form_end(form)}}

{% endblock %}