<!DOCTYPE html>
<html>
    <head>

        {% block stylesheet %}
            {% stylesheets filter='cssrewrite' output="css/main.css"
                "%kernel.root_dir%/Resources/assets/css/foundation.css"
                "%kernel.root_dir%/Resources/assets/css/main.css"
                "%kernel.root_dir%/Resources/assets/css/all.css"
                "%kernel.root_dir%/Resources/assets/css/fontawesome.css"
                
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> #}
            {% endstylesheets %}
        {% endblock %}

   
        {% block Javascript %} 
            {% javascripts "%kernel.root_dir%/Resources/assets/js/vendor/jquery.js"
                            "%kernel.root_dir%/Resources/assets/js/functions.js"
                            "%kernel.root_dir%/Resources/assets/js/AddForm.js" 
                            "%kernel.root_dir%/Resources/assets/js/all.js" 
                            "%kernel.root_dir%/Resources/assets/js/fontawesome.js"
                            "%kernel.root_dir%/Resources/assets/js/vendor/foundation.min.js"
            %}
                <script src=" {{ asset_url }} "></script>
            {% endjavascripts %}
        {% endblock %}
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        


    </head>

    <body>
    <div class="container-user">
        <div class="button-logout">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div id="userLoggedIn">
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                </div>
                 |  <a class="button tiny" href="{{ path('fos_user_security_logout') }}" title="Uitloggen">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
            {% else %}

                <a class="button" href="{{ path('fos_user_security_login') }}"
                style="margin-left:1rem">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
     
 
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                       <br />
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <img src="{{ asset('images/header.jpg') }}" class="header" title="Baarns mannenkoor" />
        <br />  
    {# menu  #}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="dropdown"> <i class="fas fa-bars" style="min-width:50px"> </i>
            <div class="dropdown-content">
                <ul>
                    <li><a href=" {{ path('fos_user_registration_register') }} ">Toevoegen</a></li>
                    <li><a href=" {{ path('fos_user_profile_edit') }} ">Aanpassen</a></li>
                    <li><a href=" {{ path('fos_user_resetting_request') }} ">Resetten</a></li>
                    <li><a href=" {{ path('fos_user_change_password') }} ">Wachtwoord veranderen</a></li>
                    <li><a href=" {{ path('member_index') }} ">Leden</a></li>
                </ul>
            </div>
        </div>
    {% endif %}

            

            {% block body %}
                <p>
                <noscript>
                    <div class="callout alert center"> Zet uw Javascript aan in de browser!</div>
                </noscript>      

            {% endblock %}

            {% block fos_user_content %}
            {% endblock fos_user_content %}
                
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% include "start_text.html.twig" %}
            {% endif %}
  
            <script>
                $(document).foundation();
            </script>
    </body>
</html>
