<!DOCTYPE html>
<html>
    <head>

        {% block stylesheet %}
            {% stylesheets filter='cssrewrite' output="css/main.css"
                "%kernel.root_dir%/Resources/assets/css/foundation.css"
                "%kernel.root_dir%/Resources/assets/css/main.css"
                "%kernel.root_dir%/Resources/assets/css/all.css"
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}  
        {% endblock %}
        {% block Javascript %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        {% endblock %}
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
   
    <body>

        <img src="{{ asset('images/header.jpg') }}" class="header" title="Baarns mannenkoor" />

        <br />
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a class="button tiny" href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}

                <a class="button primary" href="{{ path('fos_user_security_login') }}"
                style="margin-left:1rem">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
       

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}


{# menu  #}
{% if is_granted('ROLE_ADMIN') %}


<div class="dropdown">Gebruiker
    <div class="dropdown-content">
        <ul>
            <li><a href=" {{ path('fos_user_registration_register') }} ">Toevoegen</a></li>
            <li><a href=" {{ path('fos_user_profile_edit') }} ">Aanpassen</a></li>
            <li><a href=" {{ path('fos_user_resetting_request') }} ">Resetten</a></li>
            <li><a href=" {{ path('fos_user_change_password') }} ">Wachtwoord veranderen</a></li>
            <li><a href=" {{ path('member_index') }} ">Leden</a></li>
        </ul>
    </div>
</div>
{% endif %}

            {% block body %}
                <p>
                <noscript>
                    <div class="callout alert center"> Zet uw Javascript aan in de browser!</div>
                </noscript>      

            {% endblock %}

            {% block fos_user_content %}
            {% endblock fos_user_content %}
                
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% include "start_text.html.twig" %}
            {% endif %}

      </body>
</html>
