{% extends 'layout.html.twig' %}
     
{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h3>Gebruiker bewerken</h3>

    <div class="grid-x grid-padding-x">
        <div class="cell medium-2">
            <a href="{{ path('member_index') }}"
                <a href="{{ path('user_index') }}" class="button" title="Overzicht">
               <i class="fas fa-clipboard-list medium"></i>
            </a>
        </div>
        <div class="cell medium-10"></div>
    </div>

    {{ form_start(edit_form) }}
        {{ form_errors(edit_form._token) }}

    <div class="grid-x grid-padding-x">
        <div class="cell medium-7"></div>
        <div class="cell medium-2">  
            <button class="button" type="submit" title="Opslaan">
                <i class="far fa-save"></i>
            </button>
        </div> 
        <div class="cell medium-3"></div>
    </div>

        {{ form_end(edit_form) }}

{% endblock %}
