{% extends 'layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h3>Help</h3>
<br />
<p id="first_page" class="callout">
Hieronder staan veelgestelde vragen. Mocht u er toch niet uitkomen dan kunt u contact opnemen met de 
<a href=" {{ path('contact') }} ">voorzitter</a>. 

</p>
<br />
<br />

         
 
    <div class="grid-x grid-padding-x">
        <div class="cell large-4"></div>
        <div class="cell large-3">
           

    <ul class="accordion" data-accordion data-multi-expand="false" data-allow-all-closed="true">Vragen over gebruikers
     <li class="accordion-item" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Wachtwoord vergeten?</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
     Klik <a href=" {{ path('fos_user_resetting_request') }} ">hier</a> om naar het formulier te gaan om een nieuw wachtwoord aan te maken.
      
    </div>
  </li>
    

     <li class="accordion-item" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Gebruiker toevoegen?</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
     Dit kan alleen als je admin-rechten hebt. Klik <a href=" {{ path('user_new') }} ">hier</a>.
      
    </div>
  </li>
    
     <li class="accordion-item" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Hoe pas ik mijn profiel aan?</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
      
        Je profiel pas je aan door in te loggen met admin-rechten. Anders moet de Secretaris of 
        de voorzitter dat voor je doen. Bekijk <a href=" {{ path('fos_user_profile_show') }} ">hier</a> je profiel.
      
    </div>
  </li>
    
    </ul>
                    {# <a href=" {{ path('fos_user_resetting_request') }} ">Wachtwoord vergeten</a>  <br />                  
                
                    <a href=" {{ path('fos_user_profile_show') }} ">Mijn profiel bekijken</a><br />
                
                    <a href=" {{ path('member_new') }} ">Lid aanmaken</a><br />
                
                    <a href=" {{ path('user_new') }} ">Gebruiker aanmaken</a><br />
                #}
        </div>       
        <div class="cell large-2 medium-3">
        </div>
        <div class="cell large-5 medium-3"></div>
    </div>

 {# Questions about members #}
    <div class="grid-x grid-padding-x">
        <div class="cell large-4"></div>
        <div class="cell large-3">
           

    <ul class="accordion" data-accordion data-multi-expand="false" data-allow-all-closed="true">Vragen over leden
     <li class="accordion-item" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Iemand toevoegen</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
        Iemand toevoegen kan alleen als je admin-rechten hebt, en ingelogd bent. Er is dan linksboven een menu zichtbaar.
        Druk linksboven in het menu. Er verschijnt onder het kopje leden: "<a href=" {{ path('member_new') }} ">Nieuw</a>"
        Hier kunt u iemand toevoegen. Succes!
    </div>
  </li>
    
     <li class="accordion-item" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Hoe pas ik mijn gegevens aan?</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
      
        Je gegevens pas je aan door in te loggen met admin-rechten. Hier kun je in het overzicht de knop bewerken gebruiken. 
        Anders moet de secretaris of de voorzitter dat voor je doen. 
      
    </div>
  </li>
    
    </ul>






{% endblock %}