


{% extends 'layout.html.twig' %}
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ asset("css/main.css") }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {% endblock %}

{% block Javascript %}
   
{% endblock %}

{% block body %}

        <h3>Ledenlijst</h3>

            
{% if is_granted('ROLE_ADMIN') %}
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2">
                <a href="{{ path('member_new') }}">Nieuw lid aanmaken</a>
            </div>
            <div class="cell medium-7"></div>
                <div class="cell medium-3">
                    <input id="myInput" class="myInput" type="search" placeholder="Zoeken" />
                </div>
        </div>
    
{% endif %}

                        

<div class="grid-x padding-grid-x">
    <div class="cell medium-1"></div>
        <div class="cell medium-10">

            <table class="stack" id="table">
                <thead>
                    <tr>
                    
                        <th>Voornaam</th>
                        <th>Achternaam</th>
                        <th>E-mail</th>
                        <th>Geboortedatum</th>
                    {% if is_granted('ROLE_ADMIN')%}
                        <th>Actie</th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody id="myTable">
            {% for member in member %}
                    <tr>
                 
                        <td id="td">{{ member.firstName }}</td> 
                        <td id="td" class="lastName">{{ member.lastName }}</td>
                        <td id="td">{{ member.email }}</td>
                        <td id="td">{{ member.dateOfBirth | date('j-m-Y', "Europe/Amsterdam" ) }}</td>
                                    
                {% if is_granted('ROLE_ADMIN') %}
                        
                        <td id="td">
                            <a class="button primary" href="{{ path('member_edit', { 'id': member.id }) }}">Bewerken</a>
                            <a class="button primary" href="{{ path('member_delete', { 'id': member.id }) }}">Verwijderen</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            
                </tbody>
            </table>
        </div>
    <div class="cell medium-1"></div>
</div>

{% endblock %}
