{% form_theme form 'form/theme.html.twig' %}   
{% extends 'layout.html.twig' %}
     
  {% block stylesheet %}
           {{ parent() }}
    {% endblock %}

{% block body %}
    
    <h3>Lid aanmaken</h3>

    <div class="grid-x grid-padding-x">
        <div class="cell medium-3">
            <a class="button" href="{{ path('member_index') }}" title="Overzicht">
                <i class="fas fa-list-alt"></i>
            </a>
        </div>
            <div class="cell medium-9"></div>   
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email, {
            'attr' : { 'placeholder' : 'naam@mail.nl' }
        }) }}
        {{ form_row(form.street) }}
        {{ form_row(form.houseNumber) }}
        {{ form_row(form.houseNumberAddition) }}
        {{ form_row(form.zipCode, {
            'attr': { 'placeholder': '1234 AB'}
        }) }}
        {{ form_row(form.city) }}
        {{ form_row(form.telephone, {
            'attr' : { 'placeholder' : '123 1234567'}
        }) }}
        {{ form_row(form.dateOfBirth) }}
        {{ form_row(form.voice) }}
 

{# Second form with the dates and reasons #}
        {% import _self as forms %}
        {% macro memberTypeRow(widget) %}
        
            {% if widget.vars.prototype is defined %}
                {% set form = widget.vars.prototype %}
                {% set name = widget.vars.prototype.vars.name %}
            {% else %}
                {% set form = widget %}
                {% set name = widget.vars.full_name %}
            {% endif %} 


    <div class="collection-item">
  
         <div class="grid-x grid-padding-x">
            <div class="cell medium-4"></div>
                    <h5>Lidmaatschap:</h5>
            <div class="cell medium-8"></div>
        </div>
            

        {# {{ form(form)}} #}
        {{ form_widget(form) }}
    
    {# hier is ook het veld "soort lid" in verwerkt. Deze staat in een andere tabel #}
        <div class="grid-x grid-padding-x">
            <div class="cell medium-8"></div>
            <div class="cell medium-2">
                <a href="javascript:void(0);" class="button tiny collection-remove"
                    data-collection-item-class="collection-item" title="Eigenschappen">
                <i class="fas fa-minus-square"></i></a>
            </div>
            <div class="cell medium-2"></div>
        </div>

    </div> 

{% endmacro %}
        
           
    <div id="memberTypes" data-prototype="
        {{ forms.memberTypeRow(form.type.vars.prototype)|e('html_attr') }}">
        {% for type in form.type %}
            {{ form_widget(type) }}
        {% endfor %}
    </div>

    <div class="grid-x grid-padding-x">
        <div class="cell medium-6"></div>    
        <div class="cell medium-2">    
            <a href="#" class="button tiny" id="collection-add" data-collection="memberTypes"
                data-index="{{ form.type|length }}" title="Eigenschappen">
                <i class="fas fa-plus-square"></i></a>
        </div>
        <div class="cell medium-2">
            <button class="button" type="submit"  title="Opslaan">
                <i class="far fa-save"></i>
            </button>
        </div>
        <div class="cell medium-2"></div>
    </div>

        
 
{# end second form #}

    {# submit button all forms #}
    {{ form_end(form) }}

   
 {% endblock %}