{% extends 'layout.html.twig' %}
{% block stylesheet %}

<link rel="stylesheet" type="text/css" href="{{ asset("css/main.css") }}">

{% endblock %}


{% block body %}

        

    <h3>Ledenlijst</h3>
 <a href="{{ path('member_index') }}">Terug naar lijst</a>
 <p>
 {% if is_granted('ROLE_ADMIN') %}


<div class="grid-x">
    <div class="cell medium-2"></div>
        <div class="cell medium-8">
        <table class="stack">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ member.id }}</td>
                </tr>
                <tr>
                    <th>Voornaam</th>
                    <td>{{ member.firstName }}</td>
                </tr>
                <tr>
                    <th>Achternaam</th>
                    <td>{{ member.lastName }}</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>{{ member.email }}</td>
                </tr>
                <tr>
                    <th>Straat</th>
                    <td>{{ member.street }}</td>
                </tr>
                <tr>
                    <th>Huisnummer</th>
                    <td>{{ member.houseNumber }}</td>
                </tr>
                <tr>
                    <th>Toevoeging</th>
                    <td>{{ member.houseNumberAddition }}</td>
                </tr>
                <tr>
                    <th>Postcode</th>
                    <td>{{ member.zipCode }}</td>
                </tr>
                <tr>
                    <th>Woonplaats</th>
                    <td>{{ member.city }}</td>
                </tr>
                <tr>
                    <th>Telefoon</th>
                    <td>{{ member.telephone }}</td>
                </tr>
                <tr>
                    <th>Geboortedatum</th>
                    <td>{{ member.dateOfBirth | date('j-m-Y', "Europe/Amsterdam" ) }}</td>
                </tr>
            </tbody>
        </table>
                <div class="grid-x grid-padding-x">
                    <div class="cell small-2"></div>
                        <div class="cell small-4">
                            <a class="button" href="{{ path('member_edit', { 'id': member.id }) }}">Bewerken</a>
                        </div>
                    <div class="cell small-4">
                        {{ form_start(delete_form) }}
                        <button class="button" type="submit" value="Verwijderen">Verwijderen</button>
                        {{ form_end(delete_form) }}
                    </div>
                    <div class="cell medium-2"></div>
                </div>
{% else %}
<p> U bent niet bevoegd om deze inhoud te zien. <p>

{% endif %}
{% endblock %}
