{% trans_default_domain 'FOSUserBundle' %}
{% extends 'layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}
<h3>Reset Wachtwoord</h3>
<br>
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
   

   <div class="grid-x grid-padding-x">
        <div class="cell medium-7"></div>
        <div class="cell medium-2">  
            <button class="button" type="submit" value="{{ 'resetting.reset.submit'|trans }}" >
                <i class="far fa-save"></i>
            </button>
        </div> 
        <div class="cell medium-3"></div>
    </div>
{{ form_end(form) }}

{% endblock %}