{% extends 'layout.html.twig' %}
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ asset("css/main.css") }}">
    {% endblock %}

{% block body %}
    <h1>Lid bewerken</h1>
 <a href="{{ path('memberdate_index') }}">Terug naar lijst</a>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="button" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
    
           
    
        <li>
            {{ form_start(delete_form) }}
                <input class="button" type="submit" value="Verwijderen">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
