


TODO:: Kijk naar de vertaling van het invoerformulier van de leden.
Pas de opmaak pas als laatste aan. Het is ook het minst belangrijk.
Zorg dat aan de hand van rollen dat je bepaalde gebruikers geen toegang geeft tot formulieren.



{% extends 'layout.html.twig' %}
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ asset("css/main.css") }}">
    {% endblock %}

{% block body %}
    <h1>Ledenlijst</h1>
<div class="form">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>E-mail</th>
                <th>Straat</th>
                <th>Huisnummer</th>
                <th>Postcode</th>
                <th>Woonplaats</th>
                <th>Actie</th>
            </tr>
        </thead>
        <tbody>
        {% for memberDate in memberDates %}
            <tr>
                <td><a href="{{ path('memberdate_show', { 'id': memberDate.id }) }}">{{ memberDate.id }}</a></td>
                <td>{{ memberDate.firstName }}</td>
                <td>{{ memberDate.lastName }}</td>
                <td>{{ memberDate.email }}</td>
                <td>{{ memberDate.street }}</td>
                <td>{{ memberDate.houseNumber }}</td>
                <td>{{ memberDate.zipCode }}</td>
                <td>{{ memberDate.city }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="button" href="{{ path('memberdate_show', { 'id': memberDate.id }) }}">Inzien</a>
                        </li>
                        <li>
                            <a class="button" href="{{ path('memberdate_edit', { 'id': memberDate.id }) }}">Bewerken</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <ul>
        <li>
            <a class="button" href="{{ path('memberdate_new') }}">Nieuw lid aanmaken</a>
        </li>
    </ul>
{% endblock %}
