


{% extends 'layout.html.twig' %}
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ asset("css/main.css") }}">
    {% endblock %}

{% block body %}
    <h3>Ledenlijst</h3>
   <ul>
        <li>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('memberdate_new') }}">Nieuw lid aanmaken</a>
        {% endif %}
        </li>
    </ul>
    <table>
        <thead>
            <tr>
               {% if is_granted('ROLE_ADMIN')%}
               
                <th>Id</th>
                {% endif %}
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>E-mail</th>
                <th>Geboortedatum</th>
                {% if is_granted('ROLE_ADMIN')%}
                <th>Actie</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for memberDate in memberDates %}
            <tr>
            {% if is_granted('ROLE_ADMIN')%}
                <td><a href="{{ path('memberdate_show', { 'id': memberDate.id }) }}">{{ memberDate.id }}</a></td>
            {% endif %}
                <td>{{ memberDate.firstName }}</td> 
                <td>{{ memberDate.lastName }}</td>
                <td>{{ memberDate.email }}</td>
                <td>{{ memberDate.dateOfBirth | date('j F Y') }}</td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                    <ul>
                        <li>
                            <a class="button" href="{{ path('memberdate_show', { 'id': memberDate.id }) }}">Inzien</a>
                        </li>
                        <li>
                            <a class="button" href="{{ path('memberdate_edit', { 'id': memberDate.id }) }}">Bewerken</a>
                        </li>
                    </ul>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 
{% endblock %}
