{% extends 'layout.html.twig' %}
{% block stylesheet %}

<link rel="stylesheet" type="text/css" href="{{ asset("css/main.css") }}">

{% endblock %}
{% block body %}

        

    <h3>Ledenlijst</h3>
 <a href="{{ path('memberdate_index') }}">Terug naar lijst</a>
 <p>
 {% if is_granted('ROLE_ADMIN') %}
   
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ memberDate.id }}</td>
            </tr>
            <tr>
                <th>Voornaam</th>
                <td>{{ memberDate.firstName }}</td>
            </tr>
            <tr>
                <th>Achternaam</th>
                <td>{{ memberDate.lastName }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ memberDate.email }}</td>
            </tr>
            <tr>
                <th>Straat</th>
                <td>{{ memberDate.street }}</td>
            </tr>
            <tr>
                <th>Huisnummer</th>
                <td>{{ memberDate.houseNumber }}</td>
            </tr>
            <tr>
                <th>Toevoeging</th>
                <td>{{ memberDate.houseNumberAddition }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ memberDate.zipCode }}</td>
            </tr>
            <tr>
                <th>Woonplaats</th>
                <td>{{ memberDate.city }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ memberDate.telephone }}</td>
            </tr>
            <tr>
                <th>Geboortedatum</th>
                <td>{{ memberDate.dateOfBirth | date('j F Y')}}</td>
     

    <table><tr><td>
            <a class="button" href="{{ path('memberdate_edit', { 'id': memberDate.id }) }}">Bewerken</a>
                {{ form_start(delete_form) }}
            </td>
            <td>
                    <button class="button" type="submit" value="Verwijderen">Verwijderen</button>
                {{ form_end(delete_form) }}
        </tr>
        </tbody>
    </table>
{% else %}
<p> U bent niet bevoegd om deze inhoud te zien. <p>

{% endif %}
{% endblock %}
