      
{# first field: fromDate #}
        <div class="grid-x grid-padding-x">
            <div class="cell medium-4"></div>
                <div class="cell medium-2">   
                    {{ form_label(form.fromDate) }}
                </div>
                <div class="cell medium-2">
                    {{ form_widget(form.fromDate) }}
                </div>
                <div class="cell medium-4"></div>
        </div>

{# second field: tillDate #}

        <div class="grid-x grid-padding-x">
            <div class="cell medium-4"></div>
                <div class="cell medium-2"> 
                    {{ form_label(form.tillDate) }}
                </div>
                <div class="cell medium-2">
                    {{ form_widget(form.tillDate) }}
                </div>
                <div class="cell medium-4"></div>     
        </div>
      
{# third field: reason #}
        <div class="grid-x grid-padding-x">
            <div class="cell medium-4"></div>
            <div class="cell medium-2"> 
                {{ form_label(form.reason) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(form.reason) }}
            </div>
            <div class="cell medium-3"></div>     
        </div>

{#  title third form #}
        <div class="grid-x grid-padding-x">
            <div class="cell medium-4"></div>
                <div class="cell medium-2">
                    <h5>Soort lid:</h5>
                </div>
            <div class="cell medium-6"></div>
        </div>  

{# fourth field: memberType #}
        <div class="grid-x grid-padding-x">
            <div class="cell medium-4"></div>
            <div class="cell medium-2">    
                {{ form(form.memberType))}}
                </div>
            <div class="cell medium-2">
                {{ form_widget(form.memberType) }}
            </div>     
        </div>
