
{# first field: firstName #}          
          <div class="grid-x grid-padding-x">
        <div class="cell medium-4"></div>
            <div class="cell medium-2">
                {{ form_label(edit_form.firstName) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(edit_form.firstName) }}
            </div>
        <div class="cell medium-3"></div>
    </div>
{# second field: lastName #}    
    <div class="grid-x grid-padding-x">
        <div class="cell medium-4"></div>
            <div class="cell medium-2">
                {{ form_label(edit_form.lastName) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(edit_form.lastName) }}
            </div>
        <div class="cell medium-3"></div>
    </div>
{# third field: email #}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-4"></div>
            <div class="cell medium-2">
                {{ form_label(edit_form.email) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(edit_form.email) }}
            </div>
        <div class="cell medium-3"></div>
    </div>
{# fourth field: street #}    
    <div class="grid-x grid-padding-x">
        <div class="cell medium-4"></div>
            <div class="cell medium-2">
                {{ form_label(edit_form.street) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(edit_form.street) }}
            </div>
        <div class="cell medium-3"></div>
    </div>
{# fith field: houseNumber #}    
    <div class="grid-x grid-padding-x">
        <div class="cell medium-4"></div>
            <div class="cell medium-2">
                {{ form_label(edit_form.houseNumber) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(edit_form.houseNumber) }}
            </div>
        <div class="cell medium-3"></div>
    </div>
{# sixth field: houseNumberAddition #}    
    <div class="grid-x grid-padding-x">
        <div class="cell medium-4"></div>
            <div class="cell medium-2">
                {{ form_label(edit_form.houseNumberAddition) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(edit_form.houseNumberAddition) }}
            </div>
        <div class="cell medium-3"></div>
    </div>
{# seventh field: zipCode #}    
    <div class="grid-x grid-padding-x">
        <div class="cell medium-4"></div>
            <div class="cell medium-2">
                {{ form_label(edit_form.zipCode) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(edit_form.zipCode) }}
            </div>
        <div class="cell medium-3"></div>
    </div>
{# eigth field: city #}    
    <div class="grid-x grid-padding-x">
        <div class="cell medium-4"></div>
            <div class="cell medium-2">
                {{ form_label(edit_form.city) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(edit_form.city) }}
            </div>
        <div class="cell medium-3"></div>
    </div>
{# ninth field: telephone #}    
    <div class="grid-x grid-padding-x">
        <div class="cell medium-4"></div>
            <div class="cell medium-2">
                {{ form_label(edit_form.telephone) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(edit_form.telephone) }}
            </div>
        <div class="cell medium-3"></div>
    </div>
{# tenth field: dateOfBirth #}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-4"></div>
            <div class="cell medium-2">
                {{ form_label(edit_form.dateOfBirth) }}
            </div>
                <div class="cell medium-3">
                    {{ form_widget(edit_form.dateOfBirth) }}
                </div>
        <div class="cell medium-3"></div>
    </div>
